spring:
  config:
    import: optional:file:./.env[.properties]
  application:
    name: GameVault

    security:
      jwt:
        expiration: 360_000
        refresh-expiration: 8_640_000

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: false
    hibernate:
      ddl-auto: validate

  sql:
    init:
      mode: always
